<h1> Regimens </h1>
    <br>
<p>This should not be red<p>
<%= link_to "Add New Regimen", new_regimen_path %>
    <br><br>

<% @regimens.each do |reg| %>
    <div class='regimens'>
    <%= image_tag(reg.img, size: "200") if reg.img%>
    <br>
    <h3> Category: <%= reg.title %> </h3>
    <h3> Regimen: <%= link_to reg.title, regimen_path(reg) %> </h3>
    <br>
    <p> Curated By: <%= reg.expert %> </p>
    <br><br>

    </div>
    <% end %>